
nav{
 /* background-color:#01579b;*/
 background-color:#2E64D2;
}

/*This will override when the sidenav gets displayed*/
@media only screen and (max-width: 1400px)
{
  a.sidenav-trigger{
    display: block !important;
  }

  /*This will hide the links in the header on desktop*/
  .hide-on-med-and-down {
    display: none !important;
  }

  /*This will display the side nav icon*/
  nav a.button-collapse{
    display:inline !important;
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
  }
  nav .brand-logo.left {
    left: 4rem;
  }

}
.side-nav a{
  font-size:16px;
}

#sidenav-overlay {
  z-index: 996;
}

html, body{
  max-width:100%;
  overflow-x: hidden;
}
.splashBackground{
  background: #01579b;
  background: radial-gradient(circle,#fff 10%,#01579b);
}

.tabs-content.carousel .carousel-item
{
  height:100%;
}

.slider.fullscreen ul.slides {
  height:100%;
  background-color:#fff;
}

.slider .slides li img {
  height:100%;
  width:100%;
  background-size:cover;
  background-position:center;
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
  background-color: blue;
}

/*#slides{
max-height:300px;
}*/
/* just for jsfiddle */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
/*
.middle-indicator{
 position:absolute;
 top:50%;
}

.middle-indicator-text{
 font-size: 4.2rem;
}

a.middle-indicator-text{
  color:#bdbdbd !important;
}

.content-indicator{
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position:absolute;
}

*/

a.middle-indicator-text{
  color:#bdbdbd !important;
}

/*the dot indicators for the slideshow*/
.indicators{
  visibility: hidden;
}

.imageStyle{
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  /* background-color:#fff; */
  height:97%;
  width:100%;
}

.waves-effect{
  z-index:500 !important;
}

@media screen and (orientation:landscape) and (min-width: 641px)
{
  .imageStyle{
    height:60%;
    margin-top: 70px;
  }
}
@media screen and (orientation:landscape) and (max-width: 640px)
{
  .imageStyle{
    height:50%;
    margin-top: 70px;
  }
}


@media screen and (orientation:portrait)
{
  .rightPadding{
    padding-right:50%;
  }
  nav .brand-logo{
    font-size:3vh;
  }
}

@media screen and (orientation:landscape)
{
  .rightPadding{
    padding-right:75px;
  }
  nav .brand-logo{
    font-size:4vh;
  }
}

@media screen and (orientation:landscape) and (min-width:1024px)
{
 nav .brand-logo{
  font-size:3.5vh;
}
}

@media screen and (orientation:landscape) and (min-width:1401px)
{
 nav .brand-logo{
  font-size:3.5vh;
  padding-left:50px;
}
}


@media screen and (orientation:portrait){
  #leftArrow a{
    visibility:visible;
    position:absolute !important;
    bottom:80px !important;
    width: 50%;
    text-align:right;

  }
  #rightArrow a{
    visibility:visible;
    position:absolute !important;
    bottom:80px !important;
    width: 50%;
    text-align:left;
  }

  /*.myProgress{
    bottom:45px;
    }*/
  }

  @media screen and (orientation:landscape)
  {
    #leftArrow a{
      position:absolute;
      top:40%;
    }

    #rightArrow a{
      position:absolute;
      top:40%;
    }
  }

  .exitSlideButton{
    z-index:600;
    position:fixed;
    bottom:0;
    right:0;
    margin:10px;
    background-color:#151c77;
  }

  .positionNumber{
    position:fixed;
    bottom:0;
    right:50%;
    z-index:500;
  }


  .myProgress {
    width: 100%;
    background-color: grey;
    z-index:500;
    position:fixed;
    margin-right:0 !important;
    margin-left:0 !important;
    bottom:45px;
    /*bottom:0;*/
  }
  .myBar {
    width: 1%;
    height: 15px;
    background-color: #151c77;
    z-index:500;
  }


  /* @media only screen and (max-width: 992px)*/
  @media only screen and (max-width: 1400px)
  {
    #mobileFooter{
      position:fixed;
      left:0px;
      bottom:0px;
      width:100%;
      background:#fff;
      vertical-align: middle;
      box-shadow: 0px -1px 15px #888888;
      color:#424242;
      z-index: 800;
    }
    #app_cont{
      padding-top:70px !important;
      padding-bottom:60px;
    }
  }

  /*@media only screen and (min-width: 993px)*/
  @media only screen and (min-width: 1401px)
  {
    #mobileFooter{
      visibility: hidden;
    }

    #app_cont{
      padding-top:80px !important;
      padding-bottom:60px;
    }

    .myProgress{
      bottom:0;
      margin-bottom:0;
    }

    .imageStyle{
      height:85%;
      margin-top:65px;
    }
  }

  .footerTable td{
    padding:0;
    color:#424242;
    font-weight:500;
  }

  .footerIcons{
    text-align: center ;
    color:#424242;
  }
  footer.page-footer
  {
    padding-top:5px;
  }

  ul#horizontal-list{
    min-width:696px;
    list-style:none;
    padding-top:20px;

  }
  ul#horizontal-list li{
    display:inline;
  }

  .calculatorButton{
    margin-top:5px;
    margin-bottom:5px;
    color:#fff;
    width:100%;
    text-align: center;
    font-weight:bold;
  }

  .clearCalcButton{
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0;
  }

  .resetCalcButton{
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0;
  }


  .calcResultTable{
    width:100%;
    color: #000;
    font-weight:bold;
    text-align:center;
  }

  .calcResults td{
    padding:0;
  }

  .calcValueResults {
    padding:0;
  }

  .resultsPanel{
    padding-top:20px !important;
    padding-bottom:20px !important;
  }

  .card{
    border-radius: 5px !important;
  }

  .card .card-title{
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
  }

  .modal{
    top:15%;
    z-index:600;
    border-radius: 5px;
    max-height:90% !important;
    overflow-y:hidden !important;
  }

  @media only screen and (min-height: 569px)
  {
    #calc_sect{
      overflow-y:visible !important;
    }
  }

  .calcModal{
    padding:5px !important;
  }


  .comingSoon{
    color:#2E64D2;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
  }

  .gettingStartedHeader{
    width: auto !important;
    line-height:initial !important;
    display: block !important;
    font-size:6rem !important;
    float:none !important;
  }

  .gettingStartedText{
    font-weight:400;
  }

  .montserratFont{
    font-family: 'Montserrat', sans-serif;
  }

  .armataFont{
    font-family: 'Armata', sans-serif;
  }

  .tabs .tab a{
    color: #2E64D2 !important;
  }

  .tabs .tab a:hover, .tabs .tab a.active
  {
    color:#2E64D2 !important;
    font-weight:bold;
  }

  .tabs .indicator
  {
    background-color:#2E64D2;
  }

.glossaryDivider{
  margin-bottom:20px;
  background-color:#eeeeee !important;
}